.search-container {
  width: 800px;
  color: #656565;
  
}
.search-bar-container {
  width: 100%;
}
.search-input {
  width: 100%;
  padding: 11px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  outline-color: #3c8224;
  color: #515152;
  font-size: 0.9em;
}
.available-job-container{
    width: 100%;
    border: 1px solid #d1d1d1;
    box-shadow: 1px 5px 10px -7px #000000;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
}
.job-search-nav{
    width: 400px;
    margin-top: 5px;
    justify-content: space-between;
    display: flex;
}
.required-skills{
    width: 400px;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}
.skillsButton{
    margin-top: 10px;
    background-color: #F9F9F9;
    border: none;
    font-size: 0.9em;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    color: #656565;
    outline: none;
}

.skillsButton:hover{
    background-color: #E0E0E0;
}