.main-submit-proposal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #656565;
}
.sub-submit-proposal-1{
    width:1050px;
    padding: 30px;
    background-color: white;
}
.view-job-post-btn{
    color: green;
    font-weight: 500;
}
.skills-list{
    margin-top: 0;
    display: flex;
    margin-top: -20px;
    margin-bottom: 20px;
}

.sub-submit-proposal-2{
    width:1050px;
    padding: 30px;
    background-color: white;
    display: flex;
}
.rate-input{
    border: none;
    text-align: right;
    outline: none;
}